*{
  padding: 0;
  margin: 0;
  
  list-style: none;
  box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   text-decoration: none;
	
}


nav{
	background-color:#ff7675;
	}	
.button {
  background-color:#dff9fb;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}


div.dropdown-menu{
	background-image: linear-gradient( 180deg,#fab1a0,#ff7675);
}

div.name{
	padding-top: 120px;
	padding-left: 10px;
	
}
div.ann{
	padding-right: 30px;
	padding-top:20px;
	padding-left: 20px;
	font-style: oblique;
}
div#carousel{
	padding: 10px;
}
div.weclome{
	padding: 10px;
	background-color: #82ccdd;
    margin: 10px;
}
div.why{
	padding: 10px;
	background-color: #dfe4ea;
    margin: 10px;
    padding-bottom: 20px;
	
} 
div .lo{
	float: right;
} 
.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	border-radius:13px;
	color: black;
	background-image: radial-gradient(#00cec9,#81ecec,#55efc4);
	

	padding: 20px;
}


div.ourteam{
	padding-right: 20px;
	padding-left: 20px;
	
}

footer{
	background-color:#636e72;
}
/* about us*/
div.about{
	padding:10px;
	background-image:linear-gradient( 180deg,#82ccdd,#dfe4ea,#fab1a0,#ff7675);
	font-style: italic;
	margin-bottom: 10px;
}
div.who{
	padding: 10px;
	margin-top: 10px;
	font-style: italic;

}

div.card-deck{
	padding: 10px;
	margin-top: 10px;
	font-style: italic;
}
div.Management{
	padding: 10px;
	margin-top: 10px;
	font-style: italic;
}
div.Diversity{
	padding: 10px;
	margin-top: 10px;
	font-style: italic;
	
}
/*parentconer*/
div.parnets{
	padding: 10px;
	margin-top: 10px;
	font-style: italic;
		background-image:linear-gradient( 45deg,#82ccdd,#dfe4ea,#fab1a0,#ff7675);
}
div.tips{
	padding: 10px;
	margin-top: 10px;
	font-style: italic;
}
/*Gallery*/
div.gallery{
	padding: 10px;
	margin-top: 10px;
	font-style: italic;
	margin-bottom: 10px;
	background-image:linear-gradient( 45deg,#82ccdd,#dfe4ea,#fab1a0,#ff7675);
	
}
div.row{
	padding: 10px;
	margin-top: 10px;
	font-style: italic;
	margin-bottom: 10px;


}
#test:hover{
	transform: scale(2);
}
div.awards{
	padding: 10px;
	margin-top: 10px;
	font-style: italic;
	margin-bottom: 10px;
	background-image:linear-gradient( 45deg,#82ccdd,#dfe4ea,#fab1a0,#ff7675);
}
div.testimonals{
	padding: 10px;
	margin-top: 10px;
	font-style: italic;
	margin-bottom: 10px;
	background-image:linear-gradient( 45deg,#82ccdd,#dfe4ea,#fab1a0,#ff7675);

}
div.adm{
	padding: 10px;
	margin-top: 10px;
	font-style: italic;
	margin-bottom: 10px;
	background-image:linear-gradient( 90deg,#82ccdd,#dfe4ea,#fab1a0,#ff7675);

}
div.adm1{
	padding: 10px;
	margin-top: 10px;
	font-style: italic;
	margin-bottom: 10px;
	background-color: #dff9fb;
	
}
div.form{padding: 40px;
	margin-top: 10px;
	font-style: italic;
	margin-bottom: 10px;}

div.gallery{
	padding: 40px;
	margin-top: 10px;
	font-style: italic;
	margin-bottom: 10px;
}
div.contact{
	padding: 40px;
	margin-top: 10px;
	font-style: italic;
	margin-bottom: 10px;
	font-weight: bold;
	background-image:linear-gradient( 90deg,#82ccdd,#dfe4ea,#fab1a0,#ff7675);

}
div.gallery{
	padding: 40px;
	margin-top: 10px;
	font-style: italic;
	margin-bottom: 10px;
	background-image:linear-gradient( 90deg,#82ccdd,#dfe4ea,#fab1a0,#ff7675);
}
div.loginform{
	background-image:linear-gradient( 90deg,#82ccdd,#dfe4ea,#fab1a0,#ff7675);
 
}
.says{
	padding-left: 150px;
	}
	
	.btn{
		text-decoration: none;

	}